<div *ngIf="nav.visible" class="nav-container">
    <ul class="menu menu-1">
        <li class="menu-1-item">
            <a class="menu-button" id="home-button" routerLink="/home">Garmentwise</a>
        </li>
    </ul>
    <ul class="menu menu-2">
        <li class="menu-2-item">
            <a class="menu-button" id="faq-button" routerLink="/faq">FAQ</a>
        </li>
        <li class="menu-2-item">
            <a class="menu-button" id="about-button" routerLink="/about">About</a>
        </li>
    </ul>
</div>