<app-navbar></app-navbar>
<div class="box-border flex h-90vh justify-center flex-row items-end pb-10vh">
    <div class="w-1/4"></div>
    <div>
        <div class="home-title-container">
            <p class="home-title">Understand</p>
            <p class="home-title">the</p>
            <p class="home-title">sentiment</p>
            <p class="home-title">behind</p>
            <p class="home-title">your</p>
            <p class="home-title">product's</p>
            <p class="home-title">reviews</p>
        </div>
        <div class="home-buttons">
            <div class="buttons-margin buttons-margin-1"></div>
            <button class="text-white rounded-lg bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-md px-5 py-2.5 mr-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700" 
                    routerLink="/login">Log in</button>
            <div class="buttons-margin buttons-margin-2"></div>
            <button class="text-white rounded-lg bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-md px-5 py-2.5 mr-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700" 
                    routerLink="/signup">Sign up</button>
            <div class="buttons-margin buttons-margin-3"></div>
        </div>
        <div class="home-title how-it-works-sign">
            <p></p>
        </div>
    </div>
    <div class="w-1/4"></div>
</div>
<app-how-it-works></app-how-it-works>
<div class="footer"></div>
